<div class="view view-register w-md mt-40 m-auto">
  <div class="view-register__head text-center mb-10">
    <h1><a href="/" class="text-4xl tracking-tight mb-2"><span>POST</span> <b class="relative -left-1">BIT</b></a></h1>
    <p class="text-base text-gray-400">Create an account to start sharing your posts</p>
  </div>
  <div class="view-register__body">
    <form class="text-base" action="/register" method="POST">
      <div class="form-row  mb-6">
        <label class="form-input__labe block text-md mb-2" for="name">Name<span>*</span></label>
        <input
          class="rounded-sm border border-gray-300 px-3 py-2 bg-neutral-50 w-full hover:border-gray-400 focus:border-gray-900 transition-colors text-gray-800"
          type="text" id="name" name="name" value="">
        <%- include('../partials/field-error.view.ejs', { errors: [], field: 'name' }) %>
      </div>
      <div class="form-row  mb-6">
        <label class="form-input__labe block text-md mb-2" for="lastName">Last Name <span>*</span></label>
        <input
          class="rounded-sm border border-gray-300 px-3 py-2 bg-neutral-50 w-full hover:border-gray-400 focus:border-gray-900 transition-colors text-gray-800"
          type="text" id="lastName" name="lastName" value="">
        <%- include('../partials/field-error.view.ejs', { errors: [], field: 'lastName' }) %>
      </div>
      <div class="form-row  mb-6">
        <label class="form-input__labe block text-md mb-2" for="email">Email address<span>*</span></label>
        <input
          class="rounded-sm border border-gray-300 px-3 py-2 bg-neutral-50 w-full hover:border-gray-400 focus:border-gray-900 transition-colors text-gray-800"
          type="email" id="email" name="email" value="">
        <%- include('../partials/field-error.view.ejs', { errors: [], field: 'email' }) %>
      </div>
      <div class="form-row  mb-6">
        <label class="form-input__labe block text-md mb-2" for="password">Password <span>*</span></label>
        <input
          class="rounded-sm border border-gray-300 px-3 py-2 bg-neutral-50 w-full hover:border-gray-400 focus:border-gray-900 transition-colors text-gray-800"
          type="password" id="password" name="password">
        <%- include('../partials/field-error.view.ejs', { errors: [], field: 'password' }) %>
      </div>
      <div class="form-row  mb-8">
        <label class="form-input__labe block text-md mb-2" for="confirmPassword">Confirm Password <span>*</span></label>
        <input
          class="rounded-sm border border-gray-300 px-3 py-2 bg-neutral-50 w-full hover:border-gray-400 focus:border-gray-900 transition-colors text-gray-800"
          type="password" id="confirmPassword" name="confirmPassword">
        <%- include('../partials/field-error.view.ejs', { errors: [], field: 'confirmPassword' }) %>
      </div>
      <div class="form-row mb-8">
        <button
          class="cursor-pointer px-4 py-2 text-sm font-normal border-2 border-gray-900 bg-gray-900 text-white rounded-sm min-w-34 text-center hover:bg-gray-700 hover:shadow-lg transition-colors w-full"
          type="submit">Create Account</button>
      </div>
      <div class="form-row flex justify-center">
        <a href="/login" class="text-gray-500">Already have an account? Log in</a>
      </div>
    </form>
  </div>
</div>
